---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
