root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx}]
indent_style = tab
indent_size = 4

[*.{lua,yml,yaml,json,md,py,sh}]
indent_style = space
indent_size = 2

[*.bat]
indent_style = space
indent_size = 2
end_of_line = crlf

[Makefile]
indent_style = tab
