# Directories
.vs/
bin/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.slnx
*.log
Makefile
NeraChessApp/imgui.ini

# Big Library
NeraChessApp/vendor/onnxruntime-win-x64-gpu-1.24.2

# Exclude
!vendor
!NeraCore/vendor/DearImGUI
!NeraCore/vendor/SDL2
!NeraCore/vendor/SDL2_image
!NeraCore/vendor/SDL2_mixer

