# Directories
.vs/
bin/
ChessAITrainingStuff/data

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
NeraChessApp/imgui.ini

# Big Files
NeraChessApp/vendor/onnxruntime-win-x64-gpu-1.23.2/lib/onnxruntime.pdb
NeraChessApp/vendor/onnxruntime-win-x64-gpu-1.23.2/lib/onnxruntime_providers_cuda.dll
NeraChessApp/vendor/onnxruntime-win-x64-gpu-1.23.2/lib/onnxruntime_providers_cuda.pdb

# Exclude
!vendor
!NeraCore/vendor/DearImGUI
!NeraCore/vendor/SDL2
!NeraCore/vendor/SDL2_image
!NeraCore/vendor/SDL2_mixer

